chardet==3.0.4
colorama==0.3.9
dj-database-url==0.5.0
Django==1.11
django-forms-bootstrap==3.1.0
docutils==0.14
jmespath==0.9.4
olefile==0.45.1
psycopg2-binary==2.8.3
python-dateutil==2.8.0
pytz==2019.1
requests~=2.22
requests-unixsocket==0.1.5
six==1.12.0
stripe==2.33.0
urllib3==1.26.5
django-storages==1.7.1
Pillow~=4.3.0
gunicorn==19.7.1
boto3==1.9.200
botocore==1.12.200